In [1]:
import pandas as pd
import mysql.connector

In [111]:
# Import Data
df = pd.read_csv('Goodreads-csv-to-clean.csv')

In [112]:
# Rename Columns
df.rename(columns={'book_authors': 'Author', 'book_desc': 'Description', 'book_isbn': 'isbn', 'book_pages':'Pages', 'genres':'Genre', 'book_title': 'Title'}, inplace=True)

In [113]:
# Drop unnecessary columns
df.drop('book_edition',axis=1,inplace=True)

In [114]:
# Drop Na Value Columns
df.dropna(axis=1, thresh=5, inplace=True)

In [115]:
# Remove indices with at least one null value
df.dropna(inplace = True)

In [116]:
# Individual Authors?
df['Author'] = df['Author'].apply(lambda x:x.replace('|', ', '))

In [117]:
# Limit to One Genre
df['Genre'] = df['Genre'].apply(lambda x:x.split('|')[0])

In [118]:
df['Pages'] = df['Pages'].apply(lambda x: x[:-5].strip())

In [119]:
df = df[['Title', 'Author', 'Genre', 'Pages', 'Description', 'isbn']]

In [121]:
df = df.head(300)

In [122]:
df

,Title,Author,Genre,Pages,Description,isbn
0,The Hunger Games,Suzanne Collins,Young Adult,374,Winning will make you famous. Losing means cer...,9.78E+12
1,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",Fantasy,870,There is a door at the end of a silent corrido...,9.78E+12
2,To Kill a Mockingbird,Harper Lee,Classics,324,The unforgettable novel of a childhood in a sl...,9.78E+12
3,Pride and Prejudice,"Jane Austen, Anna Quindlen, Mrs. Oliphant, Geo...",Classics,279,«È cosa ormai risaputa che a uno scapolo in po...,9.78E+12
4,Twilight,Stephenie Meyer,Young Adult,498,About three things I was absolutely positive.F...,9.78E+12
...,...,...,...,...,...,...
312,The Prince of Tides,Pat Conroy,Fiction,679,"PAT CONROY has created a huge, brash thunderst...",9.78E+12
313,The Monster at the End of this Book,"Jon Stone, Michael J. Smollin",Childrens,32,Many adults name this book as their favorite L...,9.78E+12
314,Dead Until Dark,Charlaine Harris,Fantasy,292,Sookie Stackhouse is just a small-time cocktai...,9.78E+12
315,Fried Green Tomatoes at the Whistle Stop Cafe,Fannie Flagg,Fiction,416,It's first the story of two women in the 1980s...,9.78E+12
316,Fifty Shades Darker,E.L. James,Romance,532,Daunted by the singular sexual tastes and dark...,9.78E+12

In [123]:
# Connect to SQL Server
cnx = mysql.connector.connect(user = 'root', password = 'L3m.nade1H3lix', host = 'localhost', database='book_and_flicks')

In [124]:
# Add Query
add_book = ('INSERT INTO Books(title, author, genre, page_count, description, isbn) VALUES (%s, %s, %s, %s, %s, %s)')

In [ ]:
# Insert Data to SQL Server
for index, row in df.iterrows():
    book = row
    title = row[0]
    Author = row[1]
    Genre = row[2]
    Pages = row[3]
    Description = row[4]
    ISBN = row[5]
    
    book_data = (title, Author, Genre, Pages, Description, ISBN)
    cursor.execute(add_book, book_data)
cnx.commit()
cursor.close()
cnx.close()