In [188]:
import pandas as pd
import mysql.connector

In [304]:
# Import Data
df = pd.read_csv('IMDB-Top-250-Cleaned.csv')

In [305]:
# Limit To One Genre
df['Genre'] = df['Genre'].apply(lambda x:x.split(',')[0])

In [310]:
# Drop NaN columns
df.dropna(axis=1, inplace=True)

In [311]:
# Get rid of the minutes for runtime
df['Runtime'] = df['Runtime'].apply(lambda x: x[:-3].strip())

In [312]:
# Convert Runtime to Integers
df['Runtime']= df['Runtime'].apply(lambda x: int(x))

In [313]:
# Replace Default Index to Titles
df.set_index('Title',inplace=True)

In [314]:
# Remove Poster Columns
df = df.drop('Poster', axis=1)

In [315]:
df = df.drop('Released', axis = 1)

In [316]:
df = df[['Director', 'Rated','Actors', 'Genre','Runtime','Year', 'Country','Description']]

In [317]:
df['Year'] = df['Year'].apply(lambda x: int(x))

In [318]:
df.reset_index(inplace=True)

In [319]:
# Connect to SQL Server
cnx = mysql.connector.connect(user = 'root', password = 'L3m.nade1H3lix', host = 'localhost', database='book_and_flicks')

In [320]:
# Add Query
add_movie = ('INSERT INTO Movies(movie_title, director, rated, actor, genre, run_time, year, country, description) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)')

In [321]:
# Create cursor
cursor = cnx.cursor()

In [322]:
# Insert Data to SQL Server
for index, row in df.iterrows():
    movie = row
    title = row[0]
    director = row[1]
    rated = row[2]
    actors = row[3]
    genre = row[4]
    runtime = row[5]
    year = row[6]
    country = row[7]
    description = row[8]
    
    movie_data = (title, director, rated, actors, genre, runtime, year, country, description)
    cursor.execute(add_movie, movie_data)
cnx.commit()
cursor.close()
cnx.close()

In [ ]:
# Extra Code Prior to realizing there was already a year column
# Fill NaN values
df['Released']= df['Released'].fillna('Not Available')

# Released just year
df['Released']=df['Released'].apply(lambda x: x[-2:])

# Re-replace not available
df['Released'] = df['Released'].replace('le', 'Not Available')

# Update full years
df['Released'] = df['Released'].apply(lambda x: x if x == 'Not Available' else '19'+ x if int(x) > 20 else '20' + x)