In [5]:
%config Completer.use_jedi = False

In [59]:
import pandas as pd
import numpy as np
import mysql.connector
import random

In [9]:
first_name_df = pd.read_csv('First-Names.csv')

In [28]:
first_name_df.rename(columns ={'Mary':'First-Name'}, inplace=True)

In [29]:
womans_name_df = first_name_df['First-Name'].head(100)

In [34]:
mans_name_df = first_name_df[first_name_df['F'] == 'M']['First-Name'].head(100)

In [35]:
df = womans_name_df.append(mans_name_df)

In [42]:
first_names = df.reset_index().drop('index', axis=1)

In [43]:
first_names

    First-Name
0        Helen
1      Dorothy
2     Margaret
3      Frances
4         Ruth
..         ...
195      Jerry
196     Leslie
197     Martin
198    Maurice
199    Vincent

[200 rows x 1 columns]

In [44]:
last_names = pd.read_csv('Last-Names.csv')

In [50]:
last_names = last_names['name'].apply(lambda x : str(x).title())

In [52]:
last_names

0                   Smith
1                 Johnson
2                Williams
3                   Brown
4                   Jones
               ...
162249          Dietzmann
162250              Dokas
162251             Donlea
162252            Doriott
162253    All Other Names
Name: name, Length: 162254, dtype: object

In [100]:
cnx = mysql.connector.connect(user = 'root', password = '-', host = 'localhost', database='books_and_flicks')

In [101]:
add_customer = ('INSERT INTO Customers(customer_first_name, customer_last_name, email, phone, premium, username, password) VALUES (%s, %s, %s, %s, %s, %s, %s)')

In [102]:
cursor = cnx.cursor()

In [103]:
for i in range(300):
    first_name = first_names.loc[random.randint(0,199)][0]
    last_name = last_names.loc[random.randint(0,162252)]
    email = last_name + first_name + '@email.com'
    phone = '(555) ' + str(random.randint(111,999)) + '-' + str(random.randint(1111, 9999))
    premium_random = random.randint(0,5)
    premium = False if premium_random == 0 else True
    username = last_name + '.' + first_name + '.' + str(random.randint(0,99))
    password = 'password'
    download_id = 
    customer_data = (first_name, last_name, email, phone, premium, username, password)
    cursor.execute(add_customer, customer_data)
    
   
cnx.commit()
cursor.close()
cnx.close()

In [98]:
cnx.close()

In [99]:
cursor.close()

True

Below is how to instill a downloads_id for every customer

In [ ]:
 customer_id_query = ('SELECT customer_id FROM Customers Where username = %s')
    cursor.execute(customer_id_query, (username))
    customer_id = cursor[0]
    add_downloads = ('INSERT INTO Wishlists(customer_id, wishlist_name) VALUES (%s, %s)')
    downloads_data = (customer_id, 'Downloads')
    download_id = (f'SELECT wishlist_id FROM Wishlists WHERE customer_id ={customer_id}')
    customer_update = (f'UPDATE Customers SET download_id = {download_id} WHERE customer_id = {customer_id}')